/* Reset padding, margin */
body {
  margin: 0 !important;
  padding: 0 !important;
}

.red {
  border: 1px solid red;
}

.green {
  border: 1px solid green;
}

.banner {
  height: 500px;
  background: url(./banner.jpg) center center no-repeat;
  /*background color image repeat attachment posotion*/
  padding: 20px;
}
.banner .about-signin {
  height: 80px;
  text-align: right;
}
.banner .about-signin .about,
.banner .about-signin .sign-in {
  text-decoration: none;
  display: inline-block;
  padding: 7px 15px;
  margin-top: 20px;
  text-transform: uppercase;
}
.banner .about-signin .sign-in {
  margin-right: 64px;
  margin-left: 25px;
  border: 1px solid green;
  border-radius: 20px;
}
.banner .logo {
  background: url(./hapoERP.png) center center no-repeat;
  margin-top: 40px;
  height: 100px;
}
.banner .content-center .left,
.banner .content-center .center,
.banner .content-center .right {
  width: 33%;
  text-align: center;
  display: inline-block;
  margin: 20px 0;
}
.banner .content-center .left img,
.banner .content-center .center img,
.banner .content-center .right img {
  height: 30px;
  width: 30px;
}
.banner .content-center .left span,
.banner .content-center .center span,
.banner .content-center .right span {
  display: block;
  font-size: 20px;
}
.banner .text {
  text-align: center;
  margin-top: 30px;
}
.banner .text span {
  color: green;
}
.banner .btn-start-now {
  text-align: center;
}
.banner .btn-start-now button {
  text-transform: uppercase;
  padding: 10px 15px;
  border: 1px solid green;
  border-radius: 20px;
  margin-top: 25px;
  cursor: pointer;
}
